// place your custom styles here
.theme-hope-content img {
  // 加一个边框
  border: 1px solid #eee;
}
.vp-navbar .auto-link {
  color: var(--grey-dark) !important;
}
.vp-site-name {
  color: var(--grey-dark) !important;
}